.footer {
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    position: fixed;
    margin-top: auto;
  }